@using Handicraft_Shop.Models;
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section Styles {

    <link href="~/bootstrap/bootstrap/css/Index.css" rel="stylesheet" />
}


<div class="homepage-banner">
    <img src="~/Hinh/banner-home-1.jpg" class="banner-image" alt="Banner">
    <div class="banner-text">
        <h1>Chào Mừng Đến với Everon</h1>
        <p>Khám phá các sản phẩm thủ công độc đáo</p>
    </div>
</div>

<div class="container product-section" id="Product">
    <h2 class="section-title">Danh Sách Sản Phẩm</h2>
    <div class="row">
        @foreach (SANPHAM sp in Model)
        {
            <div class="col-md-3 col-sm-6 text-center mt-4 mb-4">
                <div class="product-card">
                    <img src="~/HinhAnhSP/MUC HINH ANH CHUNG/@sp.HINHANH" class="product-image" alt="@sp.TENSANPHAM">
                    <h5 class="product-title">@sp.TENSANPHAM</h5>
                    <p class="product-price">@String.Format("{0:#,###}", sp.GIABAN) VNĐ</p>
                    <div class="button-group">
                        <a href="/Admin/AdminDetails/@sp.MASANPHAM" class="btn btn-outline-primary">Chi Tiết</a>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
